.options{
    text-align: center;
}

.options h1{
    font-size: 3em;
    color: var(--accent);
}

.options label{
    font-family: "SourceSans";
    font-size: 1.2em;
}

.options input{
    padding: 15px;
    border-radius: 25px;
    margin: 15px;
}

.options th {
    font-size: 1.2em;
    border: solid;
    border-radius: 25px;
    padding: 5px; 
}
.options td, tr, a{
    color: var(--text);
    text-decoration: none;
    font-size: 1.1em;
    font-family: "Paris2024";
}

.options td {
    background-color: var(--grey);
    height: 75px;
    width: 75px;
    border-radius: 25px;
    border-color: var(--gold);
    border-block-color: var(--gold);
    border-style: outset;
}

table {
    width: 100%;
    padding: 20px;
}

.hide {
    display: none;
}
