
.option{
    text-align: center;
}

.option h1{
    font-size: 3em;
    color: var(--accent);
}

.option label{
    font-family: "SourceSans";
    font-size: 1.2em;
}

.option input{
    padding: 15px;
    border-radius: 25px;
    margin: 10px;
}

.option td, tr, a{
    color: var(--text);
    text-decoration: none;
    font-size: 1.4em;
    width: 15%;
    font-family: "Paris2024";
}